* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
img{
    width:100%;
    height:20%;
    
}

img{
       width:100%;
       height:250px;
}
body {
    
    background-color: rgb(240, 243, 240);
    background-image: url("jarmoney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.wrapper h1{
    /* color:#32f70a; */
    color: rgb(52, 117, 52);
    display: flex;
    justify-content: center;
    margin-bottom:1em;
}

.wrapper {
   
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.wrapper {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;

}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: rgb(52, 117, 52);
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;

}

.container input:focus {
    border-color: rgb(66, 238, 66);
}

.total-amount-container,
.user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-container {
    background-color: rgb(51, 128, 51);
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    font-weight: 2em 0;
    margin: 2em 0;
    padding: 1.2em;

}

.output-container p {
    font-weight: 500;
    margin-bottom: 0.06em;
}

.output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;

}

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: rgb(51, 128, 51);
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid rgb(51, 128, 51);
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}

.product {
    font-weight: 500;
    margin-left: 1.5em;
    color: #363d55;
}

.amount {
    color: #414a67;
    margin-left: 20%;
}

.product-Title {
    margin-bottom: 1em;
}


.hide {
    display: none;
}

.error {
    color: #ff465a;
}

.edit {
    margin-left: auto;
}

.edit,
.delete {
    display: flex;

    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: rgb(11, 109, 11);
}

@media screen and (max-width: 600px) {
    .wrapper {
        font-size: 14px;
    }

    .sub-container {
        
        display:flex;
        flex-direction:column;
       
    }
}
@media screen and (max-width:333px){
   .sub-container{
     font-size:8px;
}
.output-container{
    display:flex;
    flex-direction: column;
}
}


